apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - base
  - base/cleaner
  - overlays/mac-machine-janitor
  - overlays/mac-machine-reaper

configMapGenerator:
  - name: boskos-resources
    files:
      - boskos-resources.yaml

generatorOptions:
  disableNameSuffixHash: true
patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/spec/nodeSelector
        value:
          kubernetes.io/arch: amd64
