# ref: https://stackoverflow.com/questions/48116351/consistent-dns-between-kubernetes-and-docker-compose
map /brc http://greenhouse.apps.svc.cluster.local
map /golang https://mirrors.aliyun.com/golang
map /bazel_java_tools https://mirror.bazel.build/bazel_java_tools
map /gomod https://cache.hawkingrei.com/gomod
map /bazelbuild https://github.com/bazelbuild
# other...
