{{- if .Values.jenkinsOperator.enabled }}
{{- range $index, $operator := .Values.jenkinsOperator.instances }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "prow.fullname.jenkinsoperator" $ }}-{{ $index }}
  labels:
    {{- include "prow.labels" $ | nindent 4 }}
    app.kubernetes.io/app: jenkins-operator-{{ $index }}
spec:
  {{- if not $operator.autoscaling.enabled }}
  replicas: {{ $operator.replicaCount }}
  {{- end }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{ include "prow.selectorLabels" $ | nindent 6 }}
      app.kubernetes.io/app: jenkins-operator-{{ $index }}
  template:
    metadata:
      {{- with $.Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{ include "prow.selectorLabels" $ | nindent 8 }}
        app.kubernetes.io/app: jenkins-operator-{{ $index }}
    spec:
      {{- with $.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "prow.serviceAccountName.jenkinsoperator" $ }}
      securityContext:
        {{- toYaml $.Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ $.Chart.Name }}
          securityContext:
            {{- toYaml $.Values.securityContext | nindent 12 }}
          image: "{{ $.Values.jenkinsOperator.image.repository }}:{{ $.Values.jenkinsOperator.image.tag | default $.Chart.AppVersion }}"
          imagePullPolicy: {{ $.Values.jenkinsOperator.image.pullPolicy | default $.Values.jenkinsOperator.image.imagePullPolicy }}
          args:
            - --github-token-path=/etc/github/token
            - --github-endpoint=http://{{ include "prow.fullname.ghproxy" $ }}
            - --skip-report={{ $operator.skipReport }}
            - --dry-run={{ $operator.dryRun }}
            - --csrf-protect={{ $operator.csrfProtect }}
            - --jenkins-url={{ $operator.jenkinsUrl }}
            - --config-path=/etc/prow-config/config.yaml
            {{- if $operator.labelSelector }}
            - --label-selector={{ $operator.labelSelector }}
            {{- end }}
            {{- with $operator.additionalArgs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with $operator.auth }}{{- if .secretName }}

            {{/* basic auth */}}
            {{- if .secretKeyJenkinsUser }}
            - --jenkins-user=$(JENKINS_AUTH_BASIC_USER)
            {{- end }}
            {{- if .secretKeyJenkinsToken }}
            - --jenkins-token-file=$(JENKINS_AUTH_BASIC_TOKEN_FILE)
            {{- end }}

            {{/* bearer token auth */}}
            {{- if .secretKeyJenkinsBearerToken }}
            - --jenkins-bearer-token-file="$(JENKINS_AUTH_BEARER_TOKEN_FILE)"
            {{- end }}

            {{/* cert auth */}}
            {{- if .secretKeyCert }}
            - --cert-file="$(JENKINS_AUTH_CERT_FILE)"
            {{- end }}
            {{- if .secretKeyKey }}
            - --key-file="$(JENKINS_AUTH_KEY_FILE)"
            {{- end }}
            {{- if .secretKeyCaCert }}
            - --ca-cert-file="$(JENKINS_AUTH_CA_CERT_FILE)"
            {{- end }}

            {{- end }}{{- end }}
          ports:
            - name: http
              containerPort: 8080
          env:
            {{- with $operator.auth }}{{- if .secretName }}
            {{- if .secretKeyJenkinsUser }}
            - name: JENKINS_AUTH_BASIC_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .secretName }}
                  key: {{ .secretKeyJenkinsUser }}
            {{- end }}
            {{- with .secretKeyJenkinsToken }}
            - name: JENKINS_AUTH_BASIC_TOKEN_FILE
              value: /etc/jenkins/{{ . }}
            {{- end }}
            {{- with .secretKeyJenkinsBearerToken }}
            - name: JENKINS_AUTH_BEARER_TOKEN_FILE
              value: /etc/jenkins/{{ . }}
            {{- end }}
            {{- with .secretKeyCert }}
            - name: JENKINS_AUTH_CERT_FILE
              value: /etc/jenkins/{{ . }}
            {{- end }}
            {{- with .secretKeyKey }}
            - name: JENKINS_AUTH_KEY_FILE
              value: /etc/jenkins/{{ . }}
            {{- end }}
            {{- with .secretKeyCaCert }}
            - name: JENKINS_AUTH_CA_CERT_FILE
              value: /etc/jenkins/{{ . }}
            {{- end }}
            {{- end }}{{- end }}
          volumeMounts:
            - name: prow-config
              mountPath: /etc/prow-config
              readOnly: true
            - name: github
              mountPath: /etc/github
              readOnly: true
            {{- if $operator.auth.secretName }}
            - name: jenkins-auth
              mountPath: /etc/jenkins
              readOnly: true
            {{- end }}
            {{- if $operator.kubeconfigSecret }}
            - mountPath: /etc/kubeconfig
              name: kubeconfig
              readOnly: true
            {{- end }}
          resources:
            {{- toYaml $operator.resources | nindent 12 }}
      volumes:
        - name: prow-config
          configMap:
            name: {{ default (printf "%s-config" (include "prow.fullname" $)) $.Values.prow.configs.prow.configMapName }}
        - name: github
          secret:
            secretName: {{ default (printf "%s-github" (include "prow.fullname" $)) $.Values.prow.github.secretName }}
        {{- with $operator.auth.secretName }}
        - name: jenkins-auth
          secret:
            secretName: {{ . }}
            optional: true
        {{- end }}
        {{- with $operator.kubeconfigSecret }}
        - name: kubeconfig
          secret:
            secretName: {{ . }}
            optional: true
        {{- end }}
      {{- with $.Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
{{- end }}
{{- end }}
