{{- if .Values.jenkinsOperator.enable }}
{{- range $index, $operator := .Values.jenkinsOperator.instances }}
{{- if and $operator.enabled $operator.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "prow.fullname.jenkinsoperator" . }}-{{ $index }}
  labels:
    {{- include "prow.labels" . | nindent 4 }}
    app.kubernetes.io/app: jenkins-operator-{{ $index }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "prow.fullname.jenkinsoperator" . }}-{{ $index }}
  minReplicas: {{ $operator.autoscaling.minReplicas }}
  maxReplicas: {{ $operator.autoscaling.maxReplicas }}
  metrics:
    {{- with $operator.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ . }}
    {{- end }}
    {{- with $operator.autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ . }}
    {{- end }}
---
{{- end }}
{{- end }}
{{- end }}
