{{- if .Values.jenkinsOperators }}
{{- range $index, $operator := .Values.jenkinsOperators }}
{{- if and $operator.enabled $operator.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "prow.fullname.jenkinsoperator" (list $ $operator.name) }}
  labels:
    {{- include "prow.labels.jenkinsoperator" (list $ $operator.name) | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "prow.fullname.jenkinsoperator" (list $ $operator.name) }}
  minReplicas: {{ $operator.autoscaling.minReplicas }}
  maxReplicas: {{ $operator.autoscaling.maxReplicas }}
  metrics:
    {{- with $operator.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ . }}
    {{- end }}
    {{- with $operator.autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ . }}
    {{- end }}
---
{{- end }}
{{- end }}
{{- end }}
