{{- if .Values.jenkinsOperators }}
{{- $firstOperator := index .Values.jenkinsOperators 0 }}
{{- if and $firstOperator.enabled $firstOperator.serviceAccount.roleBinding.create }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: {{ $.Values.prow.podsNamespace }}
  name: {{ include "prow.roleName.jenkinsoperator" (list $ "default" 0) }}
  labels:
    {{- include "prow.labels.jenkinsoperator" (list $ "default") | nindent 4 }}
rules:
  - apiGroups:
      - prow.k8s.io
    resources:
      - prowjobs
    verbs:
      - create
      - get
      - list
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - get
      - update
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "prow.roleBindingName.jenkinsoperator" (list $ "default" 0) }}
  labels:
    {{- include "prow.labels.jenkinsoperator" (list $ "default") | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "prow.roleName.jenkinsoperator" (list $ "default" 0) }}
subjects:
  - kind: ServiceAccount
    name: {{ include "prow.serviceAccountName.jenkinsoperator" (list $ "default" 0) }}
    namespace: {{ $.Release.Namespace }}
{{- end }}
{{- end }}
``` -->

Now, let's update the `deployment.yaml` file to add the `--label-selector` argument if it is configured. I'll provide the updated file content.
