{{- if .Values.jenkinsOperators }}
{{- range $index, $operator := .Values.jenkinsOperators }}
{{- if $operator.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "prow.fullname.jenkinsoperator" (list $ $operator.name) }}
  labels: {{- include "prow.labels.jenkinsoperator" (list $ $operator.name) | nindent 4 }}
spec:
  type: {{ $operator.service.type }}
  ports:
    - port: {{ $operator.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector: {{- include "prow.selectorLabels.jenkinsoperator" (list $ $operator.name) | nindent 4 }}
---
{{- end }}
{{- end }}
{{- end }}
