{{- if .Values.jenkinsOperator.enable }}
{{- if .Values.jenkinsOperator.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "prow.serviceAccountName.jenkinsoperator" . }}
  labels:
    {{- include "prow.labels" . | nindent 4 }}
  {{- with .Values.jenkinsOperator.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
