{{- if .Values.jenkinsOperators }}
{{- $firstOperator := index .Values.jenkinsOperators 0 }}
{{- if $firstOperator.enabled }}
{{- if $firstOperator.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "prow.serviceAccountName.jenkinsoperator" (list $ "default" 0) }}
  labels:
    {{- include "prow.labels.jenkinsoperator" (list $ "default") | nindent 4 }}
  {{- with $firstOperator.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
