apiVersion: kyverno.io/v1
kind: Policy
metadata:
  name: restrict-to-node-instance-types
spec:
  rules:
    - name: restrict-non-el-pods-to-c4-c4a
      match:
        resources:
          kinds:
            - Pod
      exclude:
        resources:
          names:
            - "el-*"
      mutate:
        patchStrategicMerge:
          spec:
            affinity:
              nodeAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  nodeSelectorTerms:
                    - matchExpressions:
                        - key: cloud.google.com/machine-family
                          operator: In
                          values: [c4, c4a]
                        - key: cloud.google.com/gke-provisioning
                          operator: In
                          values: ["spot"]

---
apiVersion: kyverno.io/v1
kind: Policy
metadata:
  name: protect-tekton-tasksruns
spec:
  rules:
    - name: inject-annotation-for-tekton-taskruns
      match:
        resources:
          kinds:
            - Pod
          selector:
            matchExpressions:
              - key: tekton.dev/taskRun
                operator: Exists
      mutate:
        patchStrategicMerge:
          metadata:
            annotations:
              cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
