apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: avoid-application-pods-run-on-arm64-nodes
spec:
  rules:
    - name: inject-node-affinity
      match:
        resources:
          kinds:
            - Pod
          namespaces:
            - brc
            - buildbarn
            - cs
            - jenkins-beta
            - kafka
            - publisher
            - tekton-operator
            - tekton-pipelines
            - tibuild
            - zot
            - cache
            - dl
      mutate:
        patchStrategicMerge:
          spec:
            affinity:
              nodeAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  nodeSelectorTerms:
                    - matchExpressions:
                        - key: kubernetes.io/arch
                          operator: In
                          values:
                            - amd64
