dest_domain=greenhouse port=80 scheme=http ttl-in-cache=14d
dest_domain=greenhouse.apps port=80 scheme=http ttl-in-cache=14d
dest_domain=greenhouse.apps.svc port=80 scheme=http ttl-in-cache=14d
dest_domain=greenhouse.apps.svc.cluster.local port=80 scheme=http ttl-in-cache=14d
dest_domain=mirrors.aliyun.com port=443 scheme=https ttl-in-cache=30d
dest_domain=mirror.bazel.build port=443 scheme=https ttl-in-cache=30d
dest_domain=cache.hawkingrei.com port=443 scheme=https pin-in-cache=30d
