apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: example-es
  namespace: apps
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: ee-gcp-sm
    kind: ClusterSecretStore
  target:
    name: example-secret-from-es
    creationPolicy: Owner
  data:
    - secretKey: secret-key-to-be-managed
      remoteRef:
        key: key
  dataFrom:
    - extract:
        key: json-key
