---
apiVersion: triggers.tekton.dev/v1beta1
kind: EventListener
metadata:
  name: github
spec:
  serviceAccountName: tekton-trigger-eventlistener
  triggerGroups:
    - name: github-pr
      interceptors:
        - name: "filter on eventType"
          ref:
            name: github
          params:
            - name: eventTypes
              value: ["pull_request"]
        - name: "validate PR state and add field"
          ref:
            name: cel
          params:
            - name: filter
              value: body.action in ['opened', 'synchronize', 'reopened', 'labeled']
      triggerSelector:
        namespaceSelector:
          matchNames:
            - ee-cd
        labelSelector:
          matchLabels:
            type: github-pr
    - name: github-branch-push
      interceptors:
        - name: "filter on eventType"
          ref:
            name: github
          params:
            - name: eventTypes
              value: ["push"]
        - name: exclude the old branch when renaming
          # Filter out the old branch when renaming to prevent unnecessary processing
          ref:
            name: cel
          params:
            - name: filter
              value: body.after != '0000000000000000000000000000000000000000'
        # "refs/heads/main" => "main"
        - name: shortten the git REF
          ref:
            name: cel
          params:
            - name: overlays
              value:
                - key: short-ref
                  expression: body.ref.replace('refs/heads/', '')
      triggerSelector:
        namespaceSelector:
          matchNames:
            - ee-cd
        labelSelector:
          matchLabels:
            type: github-branch-push
    - name: github-branch-create
      interceptors:
        - name: "filter on eventType"
          ref:
            name: github
          params:
            - name: eventTypes
              value: ["create"]
        - name: "validate branch create"
          ref:
            name: cel
          params:
            - name: filter
              value: body.ref_type == 'branch'
      triggerSelector:
        namespaceSelector:
          matchNames:
            - ee-cd
        labelSelector:
          matchLabels:
            type: github-branch-create
    - name: github-tag-create
      interceptors:
        - name: "filter on eventType"
          ref:
            name: github
          params:
            - name: eventTypes
              value: ["create"]
        - name: "validate tag create"
          ref:
            name: cel
          params:
            - name: filter
              value: body.ref_type == 'tag'
      triggerSelector:
        namespaceSelector:
          matchNames:
            - ee-cd
        labelSelector:
          matchLabels:
            type: github-tag-create
    - name: github-issue-comment
      interceptors:
        - name: filter on eventType
          ref:
            name: github
          params:
            - name: eventTypes
              value: ["issue_comment"]
        - name: validate issue comment
          ref:
            name: cel
          params:
            - name: filter
              value: body.action in ['created'] && body.comment.body.matches('[\s\S]*<!--\s*META=.+-->[\s\S]*')
      triggerSelector:
        namespaceSelector:
          matchNames:
            - ee-cd
        labelSelector:
          matchLabels:
            type: github-issue-comment
