---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: tekton-ingress
  namespace: apps
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./apps/prod/tekton/ingress
  dependsOn:
    - name: tekton-setup
      namespace: apps
    - name: tekton-configs
      namespace: apps
  prune: true
  postBuild:
    substitute:
      domain: do.pingcap.net
      domain_internal: internal-do.pingcap.net
      path_for_dashboard: /tekton
      path_for_dashboard_prod2: /tekton2
